 <!-- 
   clip-path 웹사이트:
   http://bennettfeely.com/clippy/
 -->

 <div class="sandbox">
   <div class="content">
     <section>
       <h4>예 #1</h4>
       <img src="https://unsplash.it/300/300?image=1000" alt="" class="final__clip-image-1" />
     </section>

     <section>
       <h4>예 #2</h4>
       <img src="https://unsplash.it/300/300?image=1005" alt="" class="final__clip-image-2" />
     </section>

     <section>
       <h4>예 #3</h4>
       <img src="https://unsplash.it/300/300?image=1002" alt="" class="final__clip-image-3" />
     </section>

     <section>
       <h4>예 #4</h4>
       <img src="https://unsplash.it/300/300?image=1003" alt="" class="final__clip-image-4" />
     </section>
   </div>
 </div>
