<div class="container">
  <div class=" clip">
    <div class="clip1" (mouseover)="toggleclip1('over')" (mouseleave)="toggleclip1('leave')" #clip1>
      <div class="content" #content1>
        <h2>여행을 떠나요.</h2>
      </div>
    </div>
    <div class="clip2" (mouseover)="toggleclip2('over')" (mouseleave)="toggleclip2('leave')" #clip2>
      <div class="content" #content2>
        <h2>가면 무되회.</h2>
      </div>
    </div>
    <div class="clip3" (mouseover)="toggleclip3('over')" (mouseleave)="toggleclip3('leave')" #clip3>
      <div class="content" #content3>
        <h2>다리를 넘어.</h2>
      </div>
    </div>
  </div>
</div>
