 <div class="sliging-menu">
   <ul>
     <div id="maker" #marker></div>
     <li (mouseover)="mouseOver($event)"><a href="css/sliding-menu#">Home</a></li>
     <li (mouseover)="mouseOver($event)"><a href="css/sliding-menu#">About</a></li>
     <li (mouseover)="mouseOver($event)"><a href="css/sliding-menu#">Services</a></li>
     <li (mouseover)="mouseOver($event)"><a href="css/sliding-menu#">Portfolio</a></li>
     <li (mouseover)="mouseOver($event)"><a href="css/sliding-menu#">Team</a></li>
     <li (mouseover)="mouseOver($event)"><a href="css/sliding-menu#">Contact</a></li>
   </ul>
 </div>
