<div class="urban-container">
  <div class="navbar">
    <img [src]="'assets/Urban_fashion/logo.png'" class="logo">
    <nav>
      <ul>
        <li><a routerLink="/home">홈</a></li>
        <li><a routerLink="/css/urban-fashion">안내</a></li>
        <li><a routerLink="/css/urban-fashion">콜렉션</a></li>
        <li><a routerLink="/css/urban-fashion">카테고리</a></li>
      </ul>
    </nav>
    <img [src]="'assets/Urban_fashion/cart.png'" class="cart">
  </div>

  <div class="urban_content">
    <a routerLink="/css/urban-fashion" class="btn">2020 콜렉션</a>
    <h1>당신을 꾸며줄 <br><br>올해의 콜렉션 ....</h1>
    <br>
    <p>올 겨울을 따듯히 보내자 .....</p>
  </div>

  <div class="arrow-icons">
    <img [src]="'assets/Urban_fashion/back-arrow.png'">
    <img [src]="'assets/Urban_fashion/next-arrow.png'">
  </div>

  <img [src]="'assets/Urban_fashion/img.png'" class="feature-img">

  <div class="social-links">
    <a routerLink="/css/urban-fashion">FACEBOOK</a>
    <a routerLink="/css/urban-fashion">INSTAGRAM</a>
    <a routerLink="/css/urban-fashion">TWITTER</a>
  </div>

</div>
