<div class="scroll-container">
  <div class="scroll-section">
    <div class="scroll-content">
      <h2>첫번째 페이지</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ut facilis eos quas, enim omnis facere
        consequatur obcaecati, asperiores, culpa hic nobis molestiae explicabo nemo quis mollitia qui et tempore.</p>
    </div>
  </div>

  <div class="scroll-section">
    <div class="scroll-content">
      <h2>두번째 페이지</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ut facilis eos quas, enim omnis facere
        consequatur obcaecati, asperiores, culpa hic nobis molestiae explicabo nemo quis mollitia qui et tempore.</p>
    </div>
  </div>

  <div class="scroll-section">
    <div class="scroll-content">
      <h2>세번째 페이지</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ut facilis eos quas, enim omnis facere
        consequatur obcaecati, asperiores, culpa hic nobis molestiae explicabo nemo quis mollitia qui et tempore.</p>
    </div>
  </div>

  <div class="scroll-section">
    <div class="scroll-content">
      <h2>네번째 페이지</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ut facilis eos quas, enim omnis facere
        consequatur obcaecati, asperiores, culpa hic nobis molestiae explicabo nemo quis mollitia qui et tempore.</p>
    </div>
  </div>




</div>
