<div class="tab-main">
  <div class="tab_navbar">
    <nav>
      <ul>
        <li (click)="slide(0)">Web 디자인</li>
        <li (click)="slide(1)">Web 개발</li>
        <li (click)="slide(2)">최적화</li>
        <li (click)="slide(3)">반응형</li>
      </ul>
    </nav>
  </div>

  <div class="service-02">
    <div id="tab-1" class="service-tab" #serviceTab>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img [src]="'assets/online-tutorial/one.png'" alt="">
          </div>
          <div class="col-md-6">
            <div class="tab-bg">
              <h2>01</h2>
              <h3>Web 디자인</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis praesentium repudiandae
                deleniti at soluta pariatur officia quas quidem iste repellendus maiores sint, quos architecto
                laboriosam magnam neque voluptatem doloremque voluptas?</p>
              <a href="css/landing_page/tab-menu#tab-1" class="btn btn-general btn-yellow">Get In Touch</a>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div id="tab-2" class="service-tab" #serviceTab>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img [src]="'assets/online-tutorial/two.png'" alt="">
          </div>
          <div class="col-md-6">
            <div class="tab-bg">
              <h2>02</h2>
              <h3>Web 개발</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis praesentium repudiandae
                deleniti at soluta pariatur officia quas quidem iste repellendus maiores sint, quos architecto
                laboriosam magnam neque voluptatem doloremque voluptas?</p>
              <a href="css/landing_page/tab-menu#tab-2" class="btn btn-general btn-yellow">Get In Touch</a>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div id="tab-3" class="service-tab" #serviceTab>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img [src]="'assets/online-tutorial/three.png'" alt="">
          </div>
          <div class="col-md-6">
            <div class="tab-bg">
              <h2>03</h2>
              <h3>최적화</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis praesentium repudiandae
                deleniti at soluta pariatur officia quas quidem iste repellendus maiores sint, quos architecto
                laboriosam magnam neque voluptatem doloremque voluptas?</p>
              <a href="css/landing_page/tab-menu#tab-3" class="btn btn-general btn-yellow">Get In Touch</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="tab-4" class="service-tab" #serviceTab>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img [src]="'assets/online-tutorial/four.png'" alt="">
          </div>
          <div class="col-md-6">
            <div class="tab-bg">
              <h2>04</h2>
              <h3>반응형</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis praesentium repudiandae
                deleniti at soluta pariatur officia quas quidem iste repellendus maiores sint, quos architecto
                laboriosam magnam neque voluptatem doloremque voluptas?</p>
              <a href="css/landing_page/tab-menu#tab-4" class="btn btn-general btn-yellow">Get In Touch</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
