<div class="slider-banner">
  <div class="slider-slider">
    <img [src]="showImage" id="slideImg" #slideImg>
  </div>
  <div class="overlay">
    <div class="navbar">
      <div class="logo">
        <img [src]="'assets/ReadHut/logo.png'" alt="">
      </div>
      <div class="menu-icons">
        <i class="far fa-grin-alt"></i>
        <i class="fas fa-cart-plus"></i>
        <i class="fas fa-bars"></i>
      </div>
    </div>

    <div class="content">
      <h1>앵귤러를 배우자</h1>
      <h3>Web 화면 꾸미기!!</h3>
      <div>
        <button type="button">더 보기</button>
      </div>
    </div>
  </div>
</div>
