<div class="shop-main">

  <div class="shop-header">
    <div class="shop-container">
      <div class="shop-navbar">
        <div class="logo">
          <img [src]="'assets/ecommerce/logo.png'" width="125px">
        </div>

        <nav>
          <ul #MenuItems>
            <li>홈</li>
            <li>상품</li>
            <li>About</li>
            <li>연락처</li>
            <li>계정</li>
          </ul>
        </nav>
        <img [src]="'assets/ecommerce/cart.png'" width="30px" height="30px">
        <img [src]="'assets/ecommerce/menu.png'" class="menu-icon" (click)="menutoggle()">
      </div>

      <div class="row">
        <div class="col-2">
          <h1>프로월드컵<br>신상품</h1>
          <p>추운 겨울에 활동성있는 스포츠의류</p>
          <a href="" class="btn">찿아보기 &#8594;</a>
        </div>
        <div class="col-2">
          <img [src]="'assets/ecommerce/image1.png'">
        </div>
      </div>
    </div>
  </div>

  <!--      featured categories               -->

  <div class="categories">
    <div class="small-containers">
      <div class="row">
        <div class="col-3 col3">
          <img [src]="'assets/ecommerce/category-1.jpg'">
        </div>
        <div class="col-3 col3">
          <img [src]="'assets/ecommerce/category-2.jpg'">
        </div>
        <div class="col-3 col3">
          <img [src]="'assets/ecommerce/category-3.jpg'">
        </div>
      </div>
    </div>
  </div>

  <!--   ====================================================  -->
  <div class="small-container">
    <h2 class="title">기획 상품</h2>
    <div class="row rows">
      <div class="col-3 col4">
        <img [src]="'assets/ecommerce/product-1.jpg'" alt="">
        <h4>북은색 T-Shirt</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>10,000&#50896;</p>
      </div>

      <div class="col-3 col4">
        <img [src]="'assets/ecommerce/product-2.jpg'" alt="">
        <h4>검정 운동화</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>10,000&#50896;</p>
      </div>

      <div class="col-3 col4">
        <img [src]="'assets/ecommerce/product-3.jpg'" alt="">
        <h4>슬림한 바지</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>10,000&#50896;</p>
      </div>

      <div class="col-3 col4">
        <img [src]="'assets/ecommerce/product-4.jpg'" alt="">
        <h4>청색 T-Shirt</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>10,000&#50896;</p>
      </div>

    </div>

    <h2 class="title">신상품</h2>
    <div class="row rows">
      <div class="col-3 col4">
        <img [src]="'assets/ecommerce/product-5.jpg'" alt="">
        <h4>북은색 T-Shirt</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>10,000&#50896;</p>
      </div>

      <div class="col-3 col4">
        <img [src]="'assets/ecommerce/product-6.jpg'" alt="">
        <h4>검정 운동화</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>10,000&#50896;</p>
      </div>

      <div class="col-3 col4">
        <img [src]="'assets/ecommerce/product-7.jpg'" alt="">
        <h4>슬림한 바지</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>10,000&#50896;</p>
      </div>

      <div class="col-3 col4 ">
        <img [src]="'assets/ecommerce/product-8.jpg'" alt="">
        <h4>청색 T-Shirt</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>10,000원</p>
      </div>
    </div>

    <div class="row rows">
      <div class="col-3 col4">
        <img [src]="'assets/ecommerce/product-9.jpg'" alt="">
        <h4>북은색 T-Shirt</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>10,000&#50896;</p>
      </div>

      <div class="col-3 col4">
        <img [src]="'assets/ecommerce/product-10.jpg'" alt="">
        <h4>검정 운동화</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>10,000&#50896;</p>
      </div>

      <div class="col-3 col4">
        <img [src]="'assets/ecommerce/product-11.jpg'" alt="">
        <h4>슬림한 바지</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>10,000원</p>
      </div>

      <div class="col-3 col4">
        <img [src]="'assets/ecommerce/product-12.jpg'" alt="">
        <h4>청색 T-Shirt</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>10,000원</p>
      </div>

    </div>

  </div>

  <!-- -----------------------------------------  -->
  <!--   ------------------------------------------    -->
  <div class="offer">
    <div class="small-container">
      <div class="row offer">
        <div class="col-2">
          <img [src]="'assets/ecommerce/exclusive.png'" class="offer-img">
        </div>
        <div class="col-2">
          <p>RedStore 에서만의 특별상품</p>
          <h1>스마트워치</h1>
          <small>스마트클럽 무료이용하고 20%할인쿠폰 을 받으세요</small>
        </div>
      </div>
    </div>
  </div>
  <!--  ------------------------------------------- -->
  <div class="testimonial">
    <div class="small-container">
      <div class="row">
        <div class="col-3">
          <i class="fa fa-quote-left"></i>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam id temporibus eius unde nam earum
            quibusdam, sed officiis repellat nulla nesciunt laboriosam, laudantium culpa adipisci. Nemo accusamus
            voluptatum incidunt. Deserunt.</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <img [src]="'assets/ecommerce/user-1.png'" alt="">
          <h3>Mabel Joe</h3>
        </div>

        <div class="col-3">
          <i class="fa fa-quote-left"></i>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam id temporibus eius unde nam earum
            quibusdam, sed officiis repellat nulla nesciunt laboriosam, laudantium culpa adipisci. Nemo accusamus
            voluptatum incidunt. Deserunt.</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <img [src]="'assets/ecommerce/user-2.png'" alt="">
          <h3>Mike Smith</h3>
        </div>

        <div class="col-3">
          <i class="fa fa-quote-left"></i>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam id temporibus eius unde nam earum
            quibusdam, sed officiis repellat nulla nesciunt laboriosam, laudantium culpa adipisci. Nemo accusamus
            voluptatum incidunt. Deserunt.</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <img [src]="'assets/ecommerce/user-3.png'" alt="">
          <h3>Sean Parker</h3>
        </div>
      </div>
    </div>
  </div>

  <!--  -------------  brands --------------- -->
  <div class="brands">
    <div class="small-container-logo">
      <div class="row-logo">
        <div class="col-5">
          <img [src]="'assets/ecommerce/logo-godrej.png'" alt="">
        </div>

        <div class="col-5">
          <img [src]="'assets/ecommerce/logo-oppo.png'" alt="">
        </div>

        <div class="col-5">
          <img [src]="'assets/ecommerce/logo-coca-cola.png'" alt="">
        </div>

        <div class="col-5">
          <img [src]="'assets/ecommerce/logo-paypal.png'" alt="">
        </div>

        <div class="col-5">
          <img [src]="'assets/ecommerce/logo-philips.png'" alt="">
        </div>

      </div>
    </div>
  </div>
  <!--  -----------------Footer ------------------ -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col-1">
          <h3>앱 내려받기</h3>
          <p>안드로이드, iOS 앱 내려받기</p>
          <div class="app-logo">
            <img [src]="'assets/ecommerce/app-store.png'">
            <img [src]="'assets/ecommerce/play-store.png'">
          </div>
        </div>
        <div class="footer-col-2">
          <img [src]="'assets/ecommerce/logo-white.png'" alt="">
          <p>고객의 가치를 소중히 생각하며, 즐거운 쇼핑되세요.</p>
        </div>
        <div class="footer-col-3">
          <h3>관련링크</h3>
          <ul>
            <li>쿠폰</li>
            <li>블러그</li>
            <li>환불정책</li>
            <li>배송</li>
          </ul>
        </div>

        <div class="footer-col-4">
          <h3>미디어링크</h3>
          <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Youtube</li>
          </ul>
        </div>
      </div>
      <hr>
      <p class="copyright">Copyright 2020 - Easy Tutorial</p>
    </div>
  </div>


  <!--  ------------------------------------------- -->
</div>
