<div class="about main">

  <h2>Serverless Angular with Firebase Course</h2>

  <img class="course-image mat-elevation-z10"
       src="https://s3-us-west-1.amazonaws.com/angular-university/course-images/serverless-angular-small.png">

    <div class="btns">

    
    <button mat-raised-button color="primary" (click)="onReadDoc()">Read Document</button>
    <button mat-raised-button color="primary" (click)="onAddDoc()">Add Document</button>

    <button mat-raised-button color="accent" (click)="onReadCollection()">Read Collection</button>
    <button mat-raised-button color="accent" (click)="onAddCollection()">Add Collection</button>
    <button mat-raised-button color="primary" (click)="onReadCollectionGroup()">Read CollectionGroup</button>
     <button mat-raised-button color="primary" (click)="onTest()">Read CollectionGroup</button>
    </div>

</div>
