.top-container {
  margin-top: 20px;

}

.sear-box {
  margin-left: 20px;
}

.table-success {
  background: lightgreen !important;
}

.table-danger {
  background: lightcoral !important;
}

.cdk-header-cell {
  font-size: 16px !important;
  color: #666;
  padding: 10px;
  background-color: #fafafa;
  border: 1px solid #eaeaea;
  border-left: 0;
}

.cdk-cell {
  font-size: 17px;
  color: #666;
  background-color: #fafafa;
  border: 1px solid #eaeaea;
  border-left: 0;

}
