 
<div class="container">
  <div class="title">등록</div>
  <div class="content">
      <form action="#">
         <div class="user-details">
             <div class="input-box">
               <span class="details">이름</span>
               <input type="text" placeholder="your name" required>
             </div>
             <div class="input-box">
               <span class="details">username</span>
               <input type="text" placeholder="yourname" required>
             </div>
             <div class="input-box">
               <span class="details">E-mail</span>
               <input type="text" placeholder="email" required>
             </div>
             <div class="input-box">
               <span class="details">phone</span>
               <input type="text" placeholder="phone number" required>
             </div>
             <div class="input-box">
               <span class="details">password</span>
               <input type="text" placeholder="password" required>
             </div>
             <div class="input-box">
               <span class="details">Confirm Password</span>
               <input type="text" placeholder="confirm password" required>
             </div>            
         </div>        
         <div class="gender-details">
               <input type="radio" name="gender" id="dot-1">
               <input type="radio" name="gender" id="dot-2">
               <input type="radio" name="gender" id="dot-3">
               <span class="gender-title">gender</span>
               <div class="category">
                  <label for="dot-1">
                     <span class="dot one"></span>
                     <span class="gender">Male</span>
                  </label>
                  <label for="dot-2">
                     <span class="dot two"></span>
                     <span class="gender">Female</span>
                  </label>
                  <label for="dot-3">
                     <span class="dot three"></span>
                     <span class="gender">Prefer not to say</span>
                  </label>                  
               </div>
         </div>
         <div class="button">
            <input type="submit" value="register">
         </div>
      </form>
  </div>
</div>
 
