mat-sidenav {
  width: 400px;
}

mat-toolbar {
  font-size: 14px;
  z-index: 1;
  position: relative;
}

.bar-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 100%;

  cursor: pointer;

  .cards {
    flex: 1 0 auto;
    display: flex;
    list-style: none;

    li {
      margin: 0 5px;
    }

    li:hover {
      background-color: lightgreen;
      border-radius: 5px;
      color: black;
      transform: translateY(-0.3rem);
    }
  }
}

.content {
  height: 91vh;
  border: 1px solid #66a6ff;
}

.center {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 100%;

  h1 {
    font-size: 40px;
    color: #000;
  }
}

.active {
  text-decoration: underline;
}
