<div class="scroll-main">
  <section class="banner" #banner>
    <div (click)="backToCss()">
      <i class="fas fa-arrow-left"></i>
    </div>
    <video src="../../../assets/online-tutorial/video.mp4" autoplay muted loop></video>
  </section>
  <div class="container">
    <h2>화면 스크롤 효과</h2>
    <img
      src="https://ww.namu.la/s/9ca5c6ec3469388923aa557207b10aeaf4ea062cbd402b67068606ada3755bf1dd46aebe699c24e75865d4552755e54f5eb9f2887aa3f73884d25acb9106ba6f6a9a48f687c38c0cdd03a27f28640c5fbc0047493094a666c7d8d7dd48b06609a927fe181171a7b51af0f04e8203cf0c">
    <br><br />

  </div>
</div>
