<div class="car-main">
  <div class="car-container">
    <nav>
      <img [src]="'assets/easy_tutorial/menu.png'" alt="">
      <ul>
        <li>
          <img [src]="'assets/easy_tutorial/car_icon.png'" alt="">
        </li>
        <li>Engine</li>
        <li>Tyres</li>
        <li>Brakes</li>
        <li>GearBox</li>
        <li>Cooling</li>
      </ul>
    </nav>

    <div class="content">
      <h1>미래의 가속력</h1>
      <p>스포티한 디자인에 걸맞은 주행성능 강화도 이뤄졌다. 고출력 2.5ℓ 터보엔진을 적용했다.
      </p>
      <button type="button" class="data-sheet">사양서</button>
    </div>
    <img [src]="'assets/easy_tutorial/car.png'" class="car-image">

    <div class="bottom-menu">
      <div>
        <img [src]="'assets/easy_tutorial/icon1.png'" alt="">
        <p>252 마력</p>
      </div>
      <div>
        <img [src]="'assets/easy_tutorial/icon2.png'" alt="">
        <p>2000 KG</p>
      </div>
      <div>
        <img [src]="'assets/easy_tutorial/icon3.png'" alt="">
        <p>30Km 연비</p>
      </div>
      <div>
        <img [src]="'assets/easy_tutorial/icon4.png'" alt="">
        <p>2천만원</p>
      </div>
    </div>

  </div>
</div>
