<div class="slide-text-container">
  <div class="navbar">
    <div class="logo">
      <img [src]="'assets/ReadHut/logo.png'" alt="">
    </div>
    <nav>
      <ul>
        <li><a href="css/sliding-text#">About</a></li>
        <li><a href="css/sliding-text#">Liblary</a></li>
        <li><a href="css/sliding-text#">Blog</a></li>
        <li><a href="css/sliding-text#">Contact</a></li>
      </ul>
    </nav>
    <div class="user">
      <p>아 차 산</p>
      <img [src]="'assets/ReadHut/user.png'" alt="">
    </div>
  </div>

  <div class="sidebar">
    <img [src]="'assets/ReadHut/search.png'" alt="" class="search-icon">
    <div class="social-links">
      <img [src]="'assets/ReadHut/fb.png'" alt="">
      <img [src]="'assets/ReadHut/pt.png'" alt="">
      <img [src]="'assets/ReadHut/tw.png'" alt="">
    </div>
    <img [src]="'assets/ReadHut/info.png'" alt="" class="info-icon">
  </div>

  <div class="msg-container">
    <div class="slider" id="slider" #slider>
      <div class="msg-col">
        <h1>The Ressoning</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quo deleniti nulla quis cupiditate!
          Asperiores omnis hic dolore debitis nesciunt repellendus natus facilis voluptatum ipsum aliquid, ex aut,
          dignissimos pariatur.</p>
        <a href="css/sliding-text#">Learn More</a>
      </div>

      <div class="msg-col">
        <h1>The Knowledge</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quo deleniti nulla quis cupiditate!
          Asperiores omnis hic dolore debitis nesciunt repellendus natus facilis voluptatum ipsum aliquid, ex aut,
          dignissimos pariatur.</p>
        <a href="css/sliding-text#">Learn More</a>
      </div>


      <div class="msg-col">
        <h1>The Integration</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quo deleniti nulla quis cupiditate!
          Asperiores omnis hic dolore debitis nesciunt repellendus natus facilis voluptatum ipsum aliquid, ex aut,
          dignissimos pariatur.</p>
        <a href="css/sliding-text#">Learn More</a>
      </div>

      <div class="msg-col">
        <h1>The Learning</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quo deleniti nulla quis cupiditate!
          Asperiores omnis hic dolore debitis nesciunt repellendus natus facilis voluptatum ipsum aliquid, ex aut,
          dignissimos pariatur.</p>
        <a href="css/sliding-text#">Learn More</a>
      </div>
    </div>
  </div>

  <div class="controller">
    <div id="line1" (click)="line1()"></div>
    <div id="line2" (click)="line2()"></div>
    <div id="line3" (click)="line3()"></div>
    <div id="line4" (click)="line4()"></div>
    <div id="active" #active></div>
  </div>

</div>
